
creds.py
.DS_Store
*.pyc
__pycache__/gas.cpython-39.pyc
__pycache__/APIs.cpython-39.pyc
__pycache__/pollen.cpython-39.pyc
__pycache__/spotify_search.cpython-39.pyc
Modules/.cache
*.pyc
*.pyc
__pycache__/spotify_search.cpython-39.pyc
.cache
Postables/**/
.cache
*.BAT
*.db
messages.py
*.JPG
*.mp4
*.gif
*.PNG
*.webp
Discord Pipes Bot.BAT - Shortcut.lnk
*.mov
pipesbot/Postables/ball is life/coachtube_59dbabdf-2947-42d4-b9a2-bfbdb163f309_bosh-photo-bombed-1.avif
